.spyproject/
dataset/__pycache__/
network/__pycache__/
webcam_demo/__pycache__/
__pycache__/
mp4/
*.mp4
*.tar
*.jpg
*.png
*.pth
*.npy
*.pb
Pytorch_VGGFACE_IR.py
Wi_weights/
.vscode/settings.json
.vscode/
